* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: 30px;
}

.main-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

.main-table #header-row {
    text-align: left;
    color: white;
    background-color: #0fbd83;
}

.main-table th,
.main-table td {
    padding: 15px 0px 15px 15px;
}

.main-table tr {
    border-bottom: 1px solid #dddddd;
}

.main-table tr:nth-of-type(even) {
    background-color: #ececec;
}

.main-table tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}